@import '@animxyz/core';
@import 'variables';
@import 'mixins';
@import 'reset';
@import 'navigation';
@import 'hero';
@import 'intro';
@import 'purfection';
@import 'accordion';
@import 'carousel';
@import 'footer';
.home-enter-active,
.home-leave-active {
  transition: opacity 0.5s;
}
.home-enter,
.home-leave-active {
  opacity: 0;
}
.full-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  max-width: 144rem;
  margin: 0 auto;
  background-color: $beige;
  color: $green;
  overflow-x: hidden;
}
h1 {
  font-family: $asul;
  font-size: 8rem;
}
h2 {
  font-family: $asul;
  font-style: normal;
  font-weight: 400;
  font-size: 8rem;
  font-size: 8rem;
  line-height: 9.5rem;
  letter-spacing: -0.02em;
  text-align: center;
  @media only screen and (max-width: 1100px) {
    font-size: 4.2rem;
    line-height: 5rem;
  }
}
h3 {
  font-family: $chivo;
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 6rem;
  @media only screen and (max-width: 1100px) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}
p,
li,
a {
  font: 2rem $chivo;
  line-height: 3rem;
  color: $green;
  @media only screen and (max-width: 1100px) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
.button {
  background: $green;
  height: 60px;
  color: $white;
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 0 6.75rem;
  border-radius: 3rem;
  text-decoration: none;
  margin-top: 4rem;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus {
    background: $orange;
    color: $black;
  }
  @media only screen and (max-width: 1100px) {
    margin-top: 3rem;
    height: 48px;
    padding: 0 3.7rem;
  }
}
.container {
  margin: 0 auto;
  padding-left: 3.6rem;
  padding-right: 3.6rem;
  @media only screen and (max-width: 1100px) {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
  }
}
.col {
  &__100 {
    width: 100%;
  }
  &__50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 3.6em;
    grid-template-areas:
      '. .'
      '. .';
    @media only screen and (max-width: 1100px) {
      gap: 2.5em;
    }
    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: '.';
    }
  }
}
.img {
  @include modifiers;
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}
